.navBar{
    background-color:blue
}

.navBar ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
    margin: 0px;

}

.navBar li{
    float: left;
    padding: 10px;
    height: 80px;

}

.navBar a{
    
    text-decoration: none;
    font-size: 20px;
    color: red;
    display: block;
 
}

.navBar li:hover{
    background-color: brown;
}

.navBar div{
    margin-top: 3%;

}